<!DOCTYPE html>
<html>
<head>
	<title><%= status %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<% include menu %>

	<h1><%= status %> Error</h1>
	<p><%= msg %></p>
</body>
</html>