<!DOCTYPE html>
<html>
<head>
	<title><%= settings.title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<% include menu %> 

	<h1><%= page_title %></h1>
	<p>Fill in teh form below to sign up.</p>

	<%= include messages %>

	<form action="/register" method="post">
		<p>
			<input type="text" name="user[name]" placeholder="Username" />
		</p>
		<p>
			<input type="password" name="user[pass]" placeholder="Password" />
		</p>
		<p>
			<input type="submit" value="Sign Up" />
		</p>
	</form>
</body>
</html>